// single item info page
.info
    font-size: $text_size
    padding: 18px
    line-height: 1.6em

    // large / title text
    .large
        font-size: 1.4em
        display: inline-block
        padding-bottom: 8px

    b
        display: inline-block
        padding-top: 8px


// list for info page
ul.info-list
    margin: 0 18px
    padding: 0
    font-size: $text_size

    li
        list-style-type: disc
        margin: 0 0 18px 18px

        &:last-child
            margin-bottom: 0px
