// single item info page
.info
    font-size: $text_size
    padding: 18px
    line-height: 1.6em

    // large / title text
    .large
        font-size: 1.4em
        display: inline-block
        padding-bottom: 8px

    b
        display: inline-block
        padding-top: 8px
